<li><a href="/" class="font-bold {% if page.url == '/' %}current-page{% else %}hover:text-[#236730] transition transition-200{% endif %}">Home</a></li>
<li><a href="/menu" class="font-bold font-bold {% if page.url == '/menu/' %}current-page{% else %}hover:text-[#236730] transition transition-200{% endif %}">Menu</a></li>
<li><a href="/#about-us" class="font-bold hover:text-[#236730] transition transition-200">About Us</a></li>
<li><a href="/#offers" class="font-bold hover:text-[#236730] transition transition-200">Offers</a></li>
<li><a href="/#location" class="font-bold hover:text-[#236730] transition transition-200">Location</a></li>
<li><a href="/#contact" class="font-bold hover:text-[#236730] transition transition-200">Contact</a></li>
