---
layout: base.njk
title: Tayyib Table - Homepage
---

<main>
  <section class="w-screen h-screen bg-[url(/images/hero.png)] relative bg-center bg-cover">
    <div class="bg-gray-800/75 w-screen h-screen absolute top-0 left-0">
    
    </div>
  </section>
</main>
