<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <a href="/menu">Order Now</a>
    <a href="/cart">Cart</a>
    <a href="/">Home</a>
  </header>
  <main>
    {{ content | safe }}
  </main>
  
  <script src="/js/main.js" type="module"></script>
</body>
</html>
