[x-cloak] { display: none !important; }

:root {
  --green: #236730;
  --nav: #fbf5ee;
  --page-bg: #fefaee;
  --product-card-bd: #e2d4bd;
}

.current-page {
  position: relative;
  color: var(--green)
}

.current-page::after {
  content: "";
  left: 0;
  bottom: -4px;
  background-color: var(--green);
  width: 100%;
  position: absolute;
  height: 3px;
}
