<nav>
  <ul>
    <li><a href="/"><img src="/images/" alt="Tayyib Table" class="w-20" /></a></li>
  </ul>
  <ul>
    <li><a href="/#about">About</a></li>
    <li><a href="/#location">Location</a></li>
    <li><a href="/#sources">Our Sources</a></li>
  </ul>
  <ul>
    <li><a href="/order">Order Now</a></li>
    <li><button>Dark</button></li>
  </ul>
</nav>
